@using Equipments.WebAPI.Models


@model IEnumerable<Installer>
@{
    ViewData["Title"] = "Скачать продукт";
}

<h2>Инсталляторы</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя файла</th>
            <th>Версия</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelitem=>item.Filename) </td>
                <td> @Html.DisplayFor(modelitem=>item.Version) </td>
                <td> @Html.DisplayFor(modelitem=>item.ReleaseDate) </td>
                <td> 
                    <a asp-action="Download" asp-route-filename="@item.Filename" >Установить</a> 
                    </td>
            </tr>
        }
    </tbody>
</table>