@{
    ViewData["Title"] = "О нас";
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h2>О нас</h2>
        <h3>История создания продукта</h3>
        <p>Продукт "Система управления оборудованием КПК" 
            был создан в целях дипломного проектирования в ГАПОУ СО "Камышловский педагогический колледж"</p>
        <h2>Команда разработки</h2>
        <li>Разработчик Худяков Андрей</li>
        <li>Заказчик Койнов Семён</li>
        <h2>Контактная информация</h2>
        <p>Если у вас возникнут вопросы или предложения по нашему продукту, 
            вы можете связаться с нами по электронной почте: 
            <a href="mailto:nandery68@gmail.com">nandery68@gmail.com</a> 
        </p>
   
    </body>
</html>