@{
    ViewData["Title"] = "Главная";
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
    <h2>Легко пользуйтесь оборудованием с помощью "Система управления оборудованием КПК"</h2>
    <p>Наша система разработана для технических мастеров и потребителей оборудования. 
        Мы предоставляем удобный и простой способ учёта заявок на обслуживание оборудования, 
        отслеживания состояния и экономии времени и усилий.</p>
    <h3>Преимущества использования "Система управления оборудованием КПК"</h3>
    <ul>
        <li>Удобство составления заявок на обслуживание оборудования</li>
        <li>Экономия времени и усилий </li>
        <li>Возможность отслеживать состояния заявок</li>
        <li>Возможность печати отчёта заявок</li>
        <li>Удобный поиск и фильтрация информации</li>
        <li>Простой и понятный интерфейс</li>
    </ul>
    <h3>Как начать использовать "Система управления оборудованием КПК"?</h3>
    <a>Для этого перейдите в раздел "Скачать продукт" и установите на свой компьютер инстраллятор приложения</a>
</body>
</html>